@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff;
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

/* 
  wrapper
*/
.wrapper {
  padding: 0 10px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

/* 
  header
*/
header {
  padding: 30px 0;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  font-weight: 900;
  font-size: 30px;
}

header .nav {
  list-style: none;
}

header .nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
  transition: all .2s;
}

header .nav li:hover {
  opacity: .4;
}

header .presentation {
  position: relative;
  margin: 30px 0;
  background: url('./img//banner.jpeg') no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: #666;
  width: 100%;
  height: 500px;
}

header .presentation::after {
  position: absolute;
  top: 100px;
  left: 50px;
  width: 400px;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  content: 'Лучшие игры';
}

header .presentation::before {
  position: absolute;
  top: 150px;
  left: 50px;
  width: 400px;
  font-size: 20px;
  font-weight: 300;
  color: #fff;
  content: 'по низким ценам!';
}

/* 
  main
*/
main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  width: 48%;
  margin-bottom: 30px;
  background: #f5f5f5;
  padding-bottom: 10px;
  border-radius: 10px 10px 0 0;
}

main .item img {
  object-fit: cover;
  height: 200px;
  width: 100%;
  transition: all .2s;
}

main .item img:hover {
  transform: scale(1.05);
}

main h2, main p, main b {
  margin: 10px 20px;
}

main p {
  position: relative;
  overflow: hidden;
  height: 100px;
}

main p::after {
  position: absolute;
  bottom: 0;
  content: '';
  display: block;
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg, #f5f5f5 10%, rgba(255, 255, 255, 0) 200%);
}

main b {
  color: #444;
}

main .add-to-cart {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #ca5252;
  width: 35px;
  height: 35px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  line-height: 35px;
  cursor: pointer;
  font-weight: 600;
  transition: all .2s;
}

main .add-to-cart:hover {
  transform: scale(1.2) translateY(-5px);
}

main .add-to-cart:active {
  transform: scale(.9) translateY(5px);
}

/* 
  footer
*/
footer {
  margin-top: 10px;
  text-align: center;
}